    <div class="doc-control">
      <a href="/" style="color:inherit;text-decoration:none" aria-label="grclibrary.ai home"><span class="wordmark mono">grclibrary.ai</span></a>
      <span class="meta mono">
        <span>DOC&nbsp;<b>GRC-LIB</b></span>
        <span>LICENSE&nbsp;<b>CC&nbsp;BY-SA&nbsp;4.0</b></span>
        <span>VERSION&nbsp;<b>{{CALVER}}</b></span>
        <span>CLASSIFICATION&nbsp;<b>PUBLIC</b></span>
      </span>
      <button class="theme-toggle" id="themeToggle" type="button" aria-label="Switch colour theme">Theme</button>
    </div>
